<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/search.css">
</head>

<body>

    <!-- navbar start -->

    <header class="header">
        <div class="containerLeft">
            <a href="../index.html" class="logo"><img src="../image/logo.webp" alt="" class="logoImg"></a>
        </div>
    </header>

    <!-- navbar end  -->


    <!-- containerSearch start  -->
    <div class="containerSearch">
        <div class="container-Search-in">
            <input type="search" placeholder="Search..." class="input-search">
        </div>
    </div>
    <!-- containerSearch end  -->



    <!-- search js  -->
    <script src="../js/search.js"></script>

</body>

</html>